<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width,initial-scale=1.0">
   <link rel="stylesheet" href="css/style.bundle.css">
   <title>Tradelize Home Ecosystem</title>
</head>

<body>
<div class="wrapper affiliate general">

   <header class="header">
      <nav class="header-nav" id="nav">
         <div class="nav">
            <a href="" class="logo"></a>
            <div class="wrapp-container">
               <div class="containers container-left">
                  <div class="menu" id="menu">
                     <div class="menu-item block-open">
                        Solutions<span></span>
                        <div class="block-menu hidden">
                           <div class="block-menu-item block-menu-first">
                              <div class="block-menu-first-item">
                                 <p class="title-header">overview</p>
                                 <div class="block">
                                    <a class="block-item">
                                       <p class="title">Trade professionally</p>
                                       <p class="text">Trade on 15+ TOP Crypto Exchanges with professional trading
                                          software</p>
                                    </a>
                                    <a class="block-item">
                                       <p class="title">Research market opportunities</p>
                                       <p class="text">Be aware of up to date Market Trends</p>
                                    </a>
                                    <a class="block-item">
                                       <p class="title">Learn from the best</p>
                                       <p class="text">Learn the best practices from ecognized by Tradelize Investors
                                       </p>
                                    </a>
                                 </div>
                              </div>
                              <div class="block-menu-first-item">
                                 <p class="title-header">for newbie investors & traders</p>
                                 <div class="block">
                                    <a class="block-item">
                                       <p class="title">Socialize in investors community</p>
                                       <p class="text">Participate in the biggest crypto trading community, discuss
                                          trading strategies, etc.</p>
                                    </a>
                                    <a class="block-item">
                                       <p class="title">Increase your portfolio</p>
                                       <p class="text">Make the best Tradelize traders take your portfolio to the next
                                          level </p>
                                    </a>
                                    <a class="block-item">
                                       <p class="title">Earn on other investor’s trades</p>
                                       <p class="text">Discover top traders in the leaderboard and start earning on
                                          their profitable and not profitable trades</p>
                                    </a>
                                 </div>
                              </div>
                              <div class="block-menu-first-item">
                                 <p class="title-header">for pro investors & traders</p>
                                 <div class="block">
                                    <a class="block-item block-big">
                                       <p class="title">Build your personal brand</p>
                                       <p class="text">Build your personal brand based on real trades and analytics to
                                          raise more funds and get rewards for: </p>
                                       <div class="list">
                                          <div class="text list-item">let other traders copy your orders;</div>
                                          <div class="text list-item">learn your market analytics & trading signals per
                                             every copier/subscriber</div>
                                       </div>
                                    </a>
                                    <a class="block-item">
                                       <p class="title">Manage raised funds</p>
                                       <p class="text">Manage raised funds on 15+ TOP crypto exchanges with the best
                                          portfolio management software</p>
                                    </a>
                                 </div>
                              </div>
                           </div>

                           <div class="block-menu-item block-menu-second">
                              <div class="investors-traders">
                                 <p>For Newbie Investors & Traders</p>
                                 <div class="wrapp-tm">
                                    <div class="tm-item tm-item1"></div>
                                    <div class="tm-item tm-item2"></div>
                                    <div class="tm-item tm-item3"></div>
                                 </div>
                              </div>
                              <div class="mobile-platform">
                                 <p>Mobile platforms</p>
                                 <div class="mobile-platform-bottom">
                                    <div class="app-store">
                                       <div class="app-store-item"></div>
                                       <div class="app-store-item"></div>
                                       <div class="app-store-item"></div>
                                    </div>
                                    <div class="shem"></div>
                                 </div>
                              </div>
                           </div>

                           <div class="block-menu-item block-menu-third">
                              <div class="link">
                                 <p class="title-header">For Enterprise</p>
                                 <a href="" class="link-item">
                                    <p class="title">White Label</p>
                                    <p class="text">Id lobortis ac porttitor vulputate pulvinar id bibendum. Sit lacus
                                       velit volutpat eu semper non.</p>
                                 </a>
                                 <a href="" class="link-item">
                                    <p class="title">API Doc #1</p>
                                    <p class="text">Id lobortis ac porttitor vulputate pulvinar id bibendum. Sit lacus
                                       velit volutpat eu semper non.</p>
                                 </a>
                                 <a href="" class="link-item">
                                    <p class="title">API Doc #2</p>
                                    <p class="text">Id lobortis ac porttitor vulputate pulvinar id bibendum. Sit lacus
                                       velit volutpat eu semper non.</p>
                                 </a>
                                 <a href="" class="link-item">
                                    <p class="title">API Doc #3</p>
                                    <p class="text">Id lobortis ac porttitor vulputate pulvinar id bibendum. Sit lacus
                                       velit volutpat eu semper non.</p>
                                 </a>
                              </div>
                              <div class="dark-blue">
                                 <div class="dark-blue-item">
                                    <p class="title">Pro terminal</p>
                                    <div class="app-store-item"></div>
                                 </div>
                                 <div class="dark-blue-item">
                                    <p class="title">WEB terminal</p>
                                    <div class="app-store-item"></div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="menu-item block-open">
                        Products<span></span>
                        <div class="block-menu product hidden">
                           <div class="block-menu-item block-menu-first">
                              <div class="block-menu-first-item block-menu-first-icon">
                                 <p class="title-header">trading Features</p>
                                 <div class="icon">
                                    <div class="icon-item">
                                       <p class="icon-item-title">Trading Terminal</p>
                                       <a class="icon-item-link " href="">
                                          <p class="ava wt">wt</p>
                                          <p class="title">Web Terminal</p>
                                       </a>
                                       <a class="icon-item-link " href="">
                                          <p class="ava dt">dt</p>
                                          <p class="title">Desktop Terminal</p>
                                       </a>
                                       <a class="icon-item-link " href="">
                                          <p class="ava ap">ap</p>
                                          <p class="title">App Terminal</p>
                                       </a>
                                    </div>
                                    <div class="icon-item">
                                       <p class="icon-item-title">Portfolios Management</p>
                                       <a class="icon-item-link" href="">
                                          <p class="ava sa">sa</p>
                                          <p class="title">Smart Actions</p>
                                       </a>
                                       <a class="icon-item-link" href="">
                                          <p class="ava am">am</p>
                                          <p class="title">Accounts Management</p>
                                       </a>
                                    </div>
                                 </div>
                              </div>
                              <div class="block-menu-first-item block-menu-first-icon block-menu-first-icon-two">
                                 <p class="title-header">social features</p>
                                 <div class="icon blue">
                                    <div class="icon-item">
                                       <p class="icon-item-title">Trading Terminal</p>
                                       <a class="icon-item-link wt" href="">
                                          <p class="ava"><img src="img/menu-tn-ts.svg" alt="menu-icon"></p>
                                          <p class="title">Traders Score</p>
                                       </a>
                                       <a class="icon-item-link dt" href="">
                                          <p class="ava"><img src="img/menu-tn-m.svg" alt="menu-icon"></p>
                                          <p class="title">Messenger</p>
                                       </a>
                                       <a class="icon-item-link ap" href="">
                                          <p class="ava"><img src="img/menu-tn-f.svg" alt="menu-icon"></p>
                                          <p class="title">Feed</p>
                                       </a>
                                       <a class="icon-item-link ap" href="">
                                          <p class="ava"><img src="img/menu-tn-w.svg" alt="menu-icon"></p>
                                          <p class="title">Webinars</p>
                                       </a>
                                    </div>
                                    <div class="icon-item">
                                       <p class="icon-item-title">Social Trading</p>
                                       <a class="icon-item-link ap" href="">
                                          <p class="ava"><img class="img-20" src="img/menu-st-m.svg" alt="menu-icon">
                                          </p>
                                          <p class="title">Mirroring</p>
                                       </a>
                                       <a class="icon-item-link ap" href="">
                                          <p class="ava"><img src="img/menu-st-rtt.svg" alt="menu-icon"></p>
                                          <p class="title">Real Time Trades</p>
                                       </a>
                                       <a class="icon-item-link ap" href="">
                                          <p class="ava"><img src="img/menu-st-am.svg" alt="menu-icon"></p>
                                          <p class="title">Anti-Mirroring</p>
                                       </a>
                                       <a class="icon-item-link ap" href="">
                                          <p class="ava"><img src="img/menu-st-ts.svg" alt="menu-icon"></p>
                                          <p class="title">Trading Signals</p>
                                       </a>
                                    </div>
                                 </div>
                              </div>
                              <div class="block-menu-first-item block-menu-first-icon block-menu-first-icon-three">
                                 <p class="title-header">social features</p>
                                 <div class="icon black">
                                    <div class="icon-item">
                                       <p class="icon-item-title">Academy</p>
                                       <a class="icon-item-link wt" href="">
                                          <p class="ava"><img class="img-18" src="img/menu-a-bitok.svg" alt="menu-icon">
                                          </p>
                                          <p class="title">Crypto Basics</p>
                                       </a>
                                       <a class="icon-item-link dt" href="">
                                          <p class="ava"><img class="img-18" src="img/menu-a-bitok.svg" alt="menu-icon">
                                          </p>
                                          <p class="title">Investing Basics</p>
                                       </a>
                                       <a class="icon-item-link ap" href="">
                                          <p class="ava"><img class="img-18" src="img/menu-a-bitok.svg" alt="menu-icon">
                                          </p>
                                          <p class="title">Trading Basics</p>
                                       </a>
                                       <a class="icon-item-link ap" href="">
                                          <p class="ava"><img class="img-18" src="img/menu-a-bitok.svg" alt="menu-icon">
                                          </p>
                                          <p class="title">Self Branding</p>
                                       </a>
                                    </div>
                                    <div class="icon-item">
                                       <p class="icon-item-title">Research</p>
                                       <a class="icon-item-link wt" href="">
                                          <p class="ava"><img class="img-18" src="img/menu-r-micro.svg" alt="menu-icon">
                                          </p>
                                          <p class="title">Insight & Analysis</p>
                                       </a>
                                       <a class="icon-item-link dt" href="">
                                          <p class="ava"><img class="img-18" src="img/menu-r-micro.svg" alt="menu-icon">
                                          </p>
                                          <p class="title">Project Reports</p>
                                       </a>
                                       <a class="icon-item-link wt" href="">
                                          <p class="ava"><img class="img-18" src="img/menu-r-micro.svg" alt="menu-icon">
                                          </p>
                                          <p class="title">Global Markets</p>
                                       </a>
                                    </div>
                                 </div>

                              </div>
                           </div>

                           <div class="block-menu-item block-menu-second">
                              <div class="investors-traders">
                                 <p>For Newbie Investors & Traders</p>
                                 <div class="wrapp-tm">
                                    <div class="tm-item tm-item1"></div>
                                    <div class="tm-item tm-item2"></div>
                                    <div class="tm-item tm-item3"></div>
                                 </div>
                              </div>
                              <div class="mobile-platform">
                                 <p>Mobile platforms</p>
                                 <div class="mobile-platform-bottom">
                                    <div class="app-store">
                                       <div class="app-store-item"></div>
                                       <div class="app-store-item"></div>
                                       <div class="app-store-item"></div>
                                    </div>
                                    <div class="shem"></div>
                                 </div>
                              </div>
                           </div>

                           <div class="block-menu-item block-menu-third">
                              <div class="link">
                                 <p class="title-header">For Enterprise</p>
                                 <a href="" class="link-item">
                                    <p class="title">White Label</p>
                                    <p class="text">Id lobortis ac porttitor vulputate pulvinar id bibendum. Sit lacus
                                       velit volutpat eu semper non.</p>
                                 </a>
                                 <a href="" class="link-item">
                                    <p class="title">API Doc</p>
                                    <p class="text">Id lobortis ac porttitor vulputate pulvinar id bibendum. Sit lacus
                                       velit volutpat eu semper non.</p>
                                 </a>
                              </div>
                              <div class="dark-blue">
                                 <div class="dark-blue-item">
                                    <p class="title">Pro terminal</p>
                                    <div class="app-store-item"></div>
                                 </div>
                                 <div class="dark-blue-item">
                                    <p class="title">WEB terminal</p>
                                    <div class="app-store-item"></div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <a href="#" class="menu-item">
                        Features
                     </a>
                     <div class="menu-item position-relative block-open">
                        Company<span></span>
                        <div class="block-menu company hidden">
                           <div class="block-menu-item block-menu-first">
                              <div class="block-menu-first-item block-menu-first-icon">
                                 <p class="title-header">ABOUT US</p>
                                 <div class="icon blue">
                                    <div class="icon-item">
                                       <a class="icon-item-link" href="">
                                          <p class="ava">
                                             <img src="img/menu-tn-w.svg" alt="menu-icon">
                                          </p>
                                          <p class="title">About Tradelize</p>
                                       </a>
                                       <a class="icon-item-link" href="">
                                          <p class="ava">
                                             <img src="img/menu-as-careers.svg" alt="menu-icon">
                                          </p>
                                          <p class="title">Careers</p>
                                       </a>
                                       <a class="icon-item-link ap" href="">
                                          <p class="ava">
                                             <img src="img/menu-as-contacts.svg" alt="menu-icon">
                                          </p>
                                          <p class="title">Contacts</p>
                                       </a>
                                       <a class="icon-item-link ap" href="">
                                          <p class="ava">
                                             <img src="img/menu-as-ir.svg" alt="menu-icon">
                                          </p>
                                          <p class="title">Investor Relations</p>
                                       </a>
                                       <a class="icon-item-link ap" href="">
                                          <p class="ava">
                                             <img src="img/menu-as-hc.svg" alt="menu-icon">
                                          </p>
                                          <p class="title">Help Center</p>
                                       </a>
                                    </div>
                                 </div>
                              </div>
                              <div class="block-menu-first-item block-menu-first-icon block-menu-first-icon-two">
                                 <p class="title-header">LEGAL INFO</p>
                                 <div class="icon blue">
                                    <div class="icon-item">
                                       <a class="icon-item-link" href="">
                                          <p class="ava">
                                             <img src="img/menu-li-tou.svg" alt="menu-icon">
                                          </p>
                                          <p class="title">Terms of Use</p>
                                       </a>
                                       <a class="icon-item-link" href="">
                                          <p class="ava">
                                             <img src="img/menu-li-pi.svg" alt="menu-icon">
                                          </p>
                                          <p class="title">Personal Information</p>
                                       </a>
                                       <a class="icon-item-link ap" href="">
                                          <p class="ava">
                                             <img src="img/menu-li-tou.svg" alt="menu-icon">
                                          </p>
                                          <p class="title">Return Policy</p>
                                       </a>
                                       <a class="icon-item-link ap" href="">
                                          <p class="ava">
                                             <img src="img/menu-li-paa.svg" alt="menu-icon">
                                          </p>
                                          <p class="title">Partner/Affiliation Agreement</p>
                                       </a>
                                       <a class="icon-item-link ap" href="">
                                          <p class="ava"><img src="img/menu-tn-f.svg" alt="menu-icon"></p>
                                          <p class="title">Referral Agreement </p>
                                       </a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="menu-item block-open position-relative">
                        Affiliate<span></span>
                        <div class="block-menu affiliate hidden">
                           <div class="block-menu-item block-menu-first">
                              <div class="block-menu-first-item block-menu-first-icon">
                                 <p class="title-header">For pro Investors & Traders</p>
                                 <div class="icon blue">
                                    <div class="icon-item">
                                       <a class="icon-item-link" href="">
                                          <p class="ava">
                                             <img src="img/menu-fpit-fms.svg" alt="menu-icon">
                                          </p>
                                          <p class="title">For Marketing Specialist</p>
                                       </a>
                                       <a class="icon-item-link" href="">
                                          <p class="ava">
                                             <img src="img/menu-fpit-fol.svg" alt="menu-icon">
                                          </p>
                                          <p class="title">For Opinion Leaders</p>
                                       </a>
                                       <a class="icon-item-link ap" href="">
                                          <p class="ava">
                                             <img src="img/menu-fpit-fe.svg" alt="menu-icon">
                                          </p>
                                          <p class="title">For Exchanges</p>
                                       </a>
                                       <a class="icon-item-link ap" href="">
                                          <p class="ava">
                                             <img src="img/menu-fpit-fbp.svg" alt="menu-icon">
                                          </p>
                                          <p class="title">For Blockchain Project</p>
                                       </a>
                                       <a class="icon-item-link ap" href="">
                                          <p class="ava">
                                             <img src="img/menu-fpit-fprm.svg" alt="menu-icon">
                                          </p>
                                          <p class="title">For PR & Media</p>
                                       </a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="containers container-right">
                  <div class="menu">
                     <div class="menu-item">English<span></span></div>
                     <div class="menu-item">Login</div>
                  </div>
                  <a href="" class="button button-blue"><span>Sign Up</span></a>
               </div>
            </div>
            <div class="menu-burger" id="burger">
               <img class="menu-open" src="img/menu-open.svg" alt="menu-open" >
               <img class="menu-close" src="img/close.svg" alt="close">
            </div>
         </div>
      </nav>

       <div class="inner">
           <div class="wrapper">
               <div class="content">
                   <div class="title">
                       <h1 class="h1">Earn up to <span class="primary">90% commission</span> from each user you refer</h1>

                       <p class="subtitle">
                           Enjoy your earnings from our limitless Cross-Selling
                       </p>
                   </div>

                   <div class="flex header-grid">
                       <div class="item">
                           <div class="num">$ 23,5 M</div>
                           <div class="num-subtitle">Commissions paid </div>
                       </div>
                       <div class="item">
                           <div class="num">245 000</div>
                           <div class="num-subtitle">Joined users</div>
                       </div>
                       <div class="item">
                           <div class="num">8+</div>
                           <div class="num-subtitle">Languages </div>
                       </div>
                   </div>

                   <div class="flex-between header-bottom">
                       <div class="btn-container">
                          <button class="btn btn-primary modal-open"><span>Become a partner</span></button>
                       </div>
                       <div class="reviews">
                           See our <b class="primary">553</b> reviews on

                           <a href="" class="trustpilot">
                               <img src="img/trustpilot.svg" alt="">
                           </a>
                       </div>
                   </div>
               </div>

               <img src="img/affiliate/affiliate-header-1.svg" alt="" class="header-img">
           </div>
       </div>

      <div class="subnav">
         <div class="container">
            <ul class="nav">
               <li class="active">
                  <a href="10-01-Affiliate.html">For Marketing Specialist</a>
               </li>
               <li>
                  <a href="10-02-Affiliate.html">For Opinion Leaders</a>
               </li>
               <li>
                  <a href="10-03-Affiliate.html">For Exchanges</a>
               </li>
               <li>
                  <a href="10-04-Affiliate.html">For Blockchain project</a>
               </li>
               <li>
                  <a href="10-05-Affiliate.html">For PR & Media</a>
               </li>
            </ul>
         </div>
      </div>
   </header>

   <section class="solutions flex-middle">
        <div class="container flex-between flex-middle">
            <div class="content">
                <h2 class="h2 title">Better Solutions For Clients <span class="primary">Better Returns For Partners</span></h2>
                <p>Nunc tortor ac risus suspendisse rhoncus bibendum ac. Hendrerit tristique elit tempor nisl, curabitur. Phasellus nunc, habitasse sit mi, non, eget adipiscing tempus viverra. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</p>
                <a href="#" class="btn btn-primary mt-5">Become a partner</a>
            </div>

            <div class="img-container">
                <img src="img/affiliate/affiliate-solutions.svg" alt="">
            </div>
        </div>
    </section>

   <section class="why deco">
      <div class="container">
         <h2 class="h2">Benefits of a becoming <br> <span class="primary">Tradelize partner</span></h2>

         <div class="slider-mobile grid">

               <div class="item">
                  <div class="item-content">
                     <div class="item-icon">
                        <span class="icon-flame"></span>
                     </div>
                     <div class="item-title">Quis aliquam<span class="blue-color">.</span></div>
                     <p class="item-text">Habitant amet gravida augue morbi tincidunt. Et tincidunt sed nulla id vulputate turpis scelerisque. Parturient tortor sit adipiscing velit enim pharetra maecenas. Faucibus morbi lectus.</p>
                  </div>
               </div>

               <div class="item ">
                  <div class="item-content">
                     <div class="item-icon">
                        <span class="icon-target"></span>
                     </div>
                     <div class="item-title">Nisl nibh<span class="blue-color">.</span></div>
                     <p class="item-text">Faucibus lobortis dictumst quis dui adipiscing nisl. Lectus maecenas non tellus etiam feugiat tempus, aenean. Sit morbi ultrices id porttitor fusce leo maecenas. Facilisis nunc enim.</p>
                  </div>
               </div>

               <div class="item ">
                  <div class="item-content">
                     <div class="item-icon">
                        <span class="icon-star"></span>
                     </div>
                     <div class="item-title">Ac tincidunt duis<span class="blue-color">.</span></div>
                     <p class="item-text">Habitant amet gravida augue morbi tincidunt. Et tincidunt sed nulla id vulputate turpis scelerisque. Parturient tortor sit adipiscing velit enim pharetra maecenas. Faucibus morbi lectus.</p>
                  </div>
               </div>
            </div>

         <a href="#" class="btn btn-primary">Start Promotion</a>
      </div>
   </section>

   <section class="why">
      <div class="container">
         <h2 class="h2">Why do marketing experts choose <span class="primary">Tradelize?</span></h2>

         <div class="slider-mobile grid">

            <div class="item">
               <div class="item-content">
                  <div class="item-icon">
                     <span class="icon-flame"></span>
                  </div>
                  <div class="item-title">Quis aliquam<span class="blue-color">.</span></div>
                  <p class="item-text">Habitant amet gravida augue morbi tincidunt. Et tincidunt sed nulla id vulputate turpis scelerisque. Parturient tortor sit adipiscing velit enim pharetra maecenas. Faucibus morbi lectus.</p>
               </div>
            </div>

            <div class="item ">
               <div class="item-content">
                  <div class="item-icon">
                     <span class="icon-target"></span>
                  </div>
                  <div class="item-title">Nisl nibh<span class="blue-color">.</span></div>
                  <p class="item-text">Faucibus lobortis dictumst quis dui adipiscing nisl. Lectus maecenas non tellus etiam feugiat tempus, aenean. Sit morbi ultrices id porttitor fusce leo maecenas. Facilisis nunc enim.</p>
               </div>
            </div>

            <div class="item ">
               <div class="item-content">
                  <div class="item-icon">
                     <span class="icon-star"></span>
                  </div>
                  <div class="item-title">Ac tincidunt duis<span class="blue-color">.</span></div>
                  <p class="item-text">Habitant amet gravida augue morbi tincidunt. Et tincidunt sed nulla id vulputate turpis scelerisque. Parturient tortor sit adipiscing velit enim pharetra maecenas. Faucibus morbi lectus.</p>
               </div>
            </div>

            <div class="item">
               <div class="item-content">
                  <div class="item-icon">
                     <span class="icon-flame"></span>
                  </div>
                  <div class="item-title">Quis aliquam<span class="blue-color">.</span></div>
                  <p class="item-text">Habitant amet gravida augue morbi tincidunt. Et tincidunt sed nulla id vulputate turpis scelerisque. Parturient tortor sit adipiscing velit enim pharetra maecenas. Faucibus morbi lectus.</p>
               </div>
            </div>

            <div class="item ">
               <div class="item-content">
                  <div class="item-icon">
                     <span class="icon-target"></span>
                  </div>
                  <div class="item-title">Nisl nibh<span class="blue-color">.</span></div>
                  <p class="item-text">Faucibus lobortis dictumst quis dui adipiscing nisl. Lectus maecenas non tellus etiam feugiat tempus, aenean. Sit morbi ultrices id porttitor fusce leo maecenas. Facilisis nunc enim.</p>
               </div>
            </div>

            <div class="item ">
               <div class="item-content">
                  <div class="item-icon">
                     <span class="icon-star"></span>
                  </div>
                  <div class="item-title">Ac tincidunt duis<span class="blue-color">.</span></div>
                  <p class="item-text">Habitant amet gravida augue morbi tincidunt. Et tincidunt sed nulla id vulputate turpis scelerisque. Parturient tortor sit adipiscing velit enim pharetra maecenas. Faucibus morbi lectus.</p>
               </div>
            </div>


         </div>

      </div>
   </section>

    <section class="products deco">
        <div class="container flex-between">
            <div class="content">
                <h2 class="h2 title"><span class="primary">Choose Any Product </span> You Prefer To Promote</h2>
                <p>Nunc tortor ac risus suspendisse rhoncus bibendum ac. Hendrerit tristique elit tempor nisl, curabitur. Phasellus nunc, habitasse sit mi, non, eget adipiscing tempus viverra. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam. Teget rhoncus bibendum  adipiscing tristique elit tempor nisl, curabitur.</p>
                <a href="#" class="btn btn-primary">Promote All</a>
            </div>

            <div class="img-container">
                <div class="slider">
                   <div class="slide">
                      <div class="slide-container">
                         <img src="img/affiliate/screen.png" alt="">
                         <a href="#" class="btn btn-primary">Promote Terminal</a>
                      </div>
                   </div>
                   <div class="slide">
                      <div class="slide-container">
                         <img src="img/affiliate/screen.png" alt="">
                         <a href="#" class="btn btn-primary">Promote Terminal</a>
                      </div>
                   </div>
                   <div class="slide">
                      <div class="slide-container">
                         <img src="img/affiliate/screen.png" alt="">
                         <a href="#" class="btn btn-primary">Promote Terminal</a>
                      </div>
                   </div>
                </div>
            </div>
        </div>
    </section>

   <section class="questions">
      <div class="content">
         <h6 class="title">Do You Have Other <span class="primary">Questions?</span></h6>
         <p>Lectus faucibus enim auctor id enim. Egestas nibh mauris sit amet vulputate dignissim fermentum. Risus consequat metus tristique fermentum.</p>
         <a href="#" class="btn btn-primary">Contact Sales Manager</a>
      </div>
   </section>

   <section class="flow hidden">
      <div class="flow-nav">
         <div class="container">
            <div class="logo">
               <img src="img/header-logo.svg" alt="">
            </div>
            <div class="close">
               <img src="img/icons/close.svg" alt="">
            </div>
         </div>
      </div>

      <div class="container step-1 step active">
         <div class="flow-img">
            <img src="img/dragon-flow.svg" alt="flow">
         </div>

         <div class="content">

            <div class="flow-intro">
               Hey! <br>
               We’d love to have you among our partners.
               Please, let us know a few more details to get started our cooperation
            </div>

            <div class="radio-container">
               <div class="flow-radio active">
                  <label>Marketing Specialist </label>
                  <input type="radio" name="affiliate-type" checked>
               </div>
               <div class="flow-radio">
                  <label>Opinion Leader</label>
                  <input type="radio" name="affiliate-type">
               </div>
               <div class="flow-radio">
                  <label>Exchange Rep </label>
                  <input type="radio" name="affiliate-type">
               </div>
               <div class="flow-radio">
                  <label>Crypto Project Rep</label>
                  <input type="radio" name="affiliate-type">
               </div>
               <div class="flow-radio">
                  <label>PR & Media Rep</label>
                  <input type="radio" name="affiliate-type">
               </div>
               <div class="flow-radio">
                  <label>Other</label>
                  <input type="radio" name="affiliate-type">
               </div>
            </div>

            <div class="btn-container">
               <button class="btn btn-next btn-primary btn-sm ">Continue</button>
            </div>

         </div>
      </div>

      <div class="container step-2 step">
         <div class="flow-img">
            <img src="img/dragon-flow.svg" alt="flow">
         </div>

         <div class="content">

            <span class="flow-back icon-arrow"></span>

            <div class="flow-intro">
               <h5 class="h5">What’s your full name?*</h5>
            </div>

            <div class="input-container">
               <input type="text" class="input" placeholder="Type your name here…">
            </div>


            <div class="btn-container">
               <button class="btn btn-next btn-primary btn-sm ">Continue</button>

               <div class="flow-sign-in">
                  <p>have an account?</p>
                  <a href="#" class="link">Sign In</a>
               </div>
            </div>

            <div class="sign-up-with">
               <p>or sign up with</p>
               <div class="">
                  <div class="flow-btn">
                     <span class="icon-fb"></span>
                     Facebook
                  </div>
                  <div class="flow-btn">
                     <span class="icon-google"></span>
                     Google
                  </div>
               </div>
            </div>

         </div>
      </div>

      <div class="container step-3 step">
         <div class="flow-img">
            <img src="img/dragon-flow.svg" alt="flow">
         </div>

         <div class="content">

            <span class="flow-back icon-arrow"></span>

            <div class="flow-intro">
               <h5 class="h5">Nice to meet you <span class="name">Leonid Petukhov</span>! <br>
                  What is your e-mail?*</h5>
            </div>

            <div class="input-container">
               <input type="text" class="input" placeholder="example@mail.com">
            </div>


            <div class="btn-container">
               <button class="btn btn-next btn-primary btn-sm ">Continue</button>

               <div class="flow-sign-in">
                  <p>have an account?</p>
                  <a href="#" class="link">Sign In</a>
               </div>
            </div>

            <div class="sign-up-with">
               <p>or sign up with</p>
               <div class="">
                  <div class="flow-btn">
                     <span class="icon-fb"></span>
                     Facebook
                  </div>
                  <div class="flow-btn">
                     <span class="icon-google"></span>
                     Google
                  </div>
               </div>
            </div>

         </div>
      </div>

      <div class="container step-4 step">
         <div class="flow-img">
            <img src="img/dragon-flow.svg" alt="flow">
         </div>

         <div class="content">

            <span class="flow-back icon-arrow"></span>

            <div class="flow-intro">
               Brilliant! <br>
               Let’s begin our earning trip <br>
               Please, tell us, where are you from:
            </div>

            <div class="flow-intro">
               <h5 class="h5">Choose your location</h5>
            </div>

            <div class="input-container">
               <input type="text" class="input" placeholder="Your Location">
            </div>

            <div class="btn-container">
               <button class="btn btn-next btn-primary btn-sm ">Continue</button>
            </div>

         </div>
      </div>

      <div class="container step-5 step">
         <div class="flow-img">
            <img src="img/dragon-flow.svg" alt="flow">
         </div>

         <div class="content">

            <span class="flow-back icon-arrow"></span>

            <div class="flow-intro">
               <h5 class="h5">I am sure that security is important to you! <br>
                  Please come up with a strong password:</h5>
            </div>

            <div class="input-container">
               <label class="label">enter your pass</label>
               <input type="text" class="input password"  placeholder="**********" value="ES12412412RS">
            </div>

            <div class="input-container">
               <label class="label">confirm your pass</label>
               <input type="password" class="input password" placeholder="**********">
            </div>

            <div class="checkbox-container confirm">
               <div class="checkbox">
                  <input type="checkbox" class="custom-checkbox" checked>
               </div>

               <label class="label">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut</label>
            </div>

            <div class="btn-container">
               <button class="btn btn-next btn-primary btn-sm ">Continue</button>
            </div>

         </div>
      </div>

      <div class="container step-6 step">
         <div class="flow-img">
            <img src="img/dragon-flow.svg" alt="flow">
         </div>

         <div class="content">

            <div class="flow-intro">
               Please, choose the convenient communication method:
            </div>

            <div class="radio-container">
               <div class="flow-radio active">
                  <label>Phone</label>
                  <input type="radio" name="affiliate-communication" checked>
               </div>
               <div class="flow-radio">
                  <label>Telegram</label>
                  <input type="radio" name="affiliate-communication">
               </div>
               <div class="flow-radio">
                  <label>Skype</label>
                  <input type="radio" name="affiliate-communication">
               </div>
               <div class="flow-radio">
                  <label>Massenger</label>
                  <input type="radio" name="affiliate-communication">
               </div>
               <div class="flow-radio">
                  <label>Viber</label>
                  <input type="radio" name="affiliate-communication">
               </div>
               <div class="flow-radio">
                  <label>Watsap</label>
                  <input type="radio" name="affiliate-communication">
               </div>
            </div>

            <div class="input-container">
               <h5 class="h5">Phone number</h5>
               <div class="flex">
                  <div class="select-container">
                     <select class="select">
                        <option value="+380">+ 380</option>
                     </select>
                  </div>
                  <input type="tel" class="input"  placeholder="your phone number" >
               </div>
            </div>

            <div class="flex input-group">

               <div class="input-container">
                  <h5 class="h5">Nickname</h5>
                  <input type="text" class="input"  placeholder="your nickname">
               </div>

               <div class="input-container">
                  <h5 class="h5">Messenger link</h5>
                  <input type="text" class="input"  placeholder="your link">
               </div>
            </div>


            <div class="btn-container">
               <button class="btn btn-next btn-primary btn-sm ">Continue</button>
            </div>

         </div>
      </div>

      <div class="container step-7 step thanks">
         <h2 class="h2">
            Thank You For <br>
            <span class="primary">Partnership Request!</span>
         </h2>

         <p class="h4">We will contact you shortly</p>

         <div class="btn-container">
            <button class="btn btn-close btn-primary btn-sm ">Thanks</button>
         </div>
      </div>

   </section>
</div>

<div class="wrapp-footer">
   <footer class="footer">
      <div class="footer-top">
         <div class="footer-top-block">
            <p class="strong">Company</p>
            <ul>
               <li><a class="footer-text" href="/TradelizeHomeEcosystem.html">Contacts</a></li>
               <li><a class="footer-text"  href="/TradelizeHomeEcosystem.html">Carreers</a></li>
               <li><a class="footer-text"  href="/TradelizeHomeEcosystem.html">Culture</a></li>
               <li><a class="footer-text"  href="/TradelizeHomeEcosystem.html">Our team</a></li>
               <li><a class="footer-text"  href="/TradelizeHomeEcosystem.html">Help Center</a></li>
               <li><a class="footer-text"  href="/TradelizeHomeEcosystem.html">Legal info</a></li>
            </ul>

         </div>
         <div class="footer-top-block">
            <p class="strong">Products</p>
            <ul>
               <li><a class="footer-text" href="/TradelizeHomeEcosystem.html">Trading Terminal</a></li>
               <li><a class="footer-text" href="/TradelizeHomeEcosystem.html">Portfolios Management</a></li>
               <li><a class="footer-text" href="/TradelizeHomeEcosystem.html">Traders Network</a></li>
               <li><a class="footer-text" href="/TradelizeHomeEcosystem.html">Social Trading</a></li>
               <li><a class="footer-text" href="/TradelizeHomeEcosystem.html">Academy</a></li>
               <li><a class="footer-text" href="/TradelizeHomeEcosystem.html">Research</a></li>
            </ul>
         </div>
         <div class="footer-top-block">
            <p class="strong">Solutions</p>
            <ul>
               <li><a class="footer-text"  href="/TradelizeHomeEcosystem.html">Trade professionally</a></li>
               <li><a class="footer-text"  href="/TradelizeHomeEcosystem.html">Research market opportunities </a></li>
               <li><a class="footer-text"  href="/TradelizeHomeEcosystem.html">Learn from the best</a></li>
               <li><a class="footer-text"  href="/TradelizeHomeEcosystem.html">Investors community</a></li>
               <li><a class="footer-text"  href="/TradelizeHomeEcosystem.html">Increase your portfolio</a></li>
               <li><a class="footer-text"  href="/TradelizeHomeEcosystem.html">Earn on other investor’s trades</a></li>
               <li><a class="footer-text"  href="/TradelizeHomeEcosystem.html">Build your personal brand</a></li>
               <li><a class="footer-text"  href="/TradelizeHomeEcosystem.html">Manage raised funds</a></li>
            </ul>
         </div>
         <div class="footer-top-block wid-15">
            <p class="strong">Help & Support</p>
            <ul>
               <li><a class="footer-text"  href="">FAQ</a></li>
               <li><a class="footer-text"  href="">Support Center</a></li>
               <li><a class="footer-text"  href="">Submit a request</a></li>
               <li><a class="footer-text"  href="">API Documentetion</a></li>
            </ul>
         </div>
         <div class="footer-top-block wid-20">
            <p class="strong">Platforms</p>
            <div class="d-flex">
               <ul class="links">
                  <li><a href="#" class="google-play"><img src="img/google-play-menu.svg" alt="" class="platforms-mobile-hide"><img src="img/google-play-menu_mob.svg" alt="" class="platforms-mobile-show"></a></li>
                  <li><a href="#" class="app-store"><img src="img/app-store-menu.svg" alt="" class="platforms-mobile-hide"><img src="img/app-store-menu_mob.svg" alt="" class="platforms-mobile-show"></a></li>
                  <li><a href="#" class="apk"><img src="img/apk-menu.svg" alt="" class="platforms-mobile-hide"><img src="img/apk-menu_mob.svg" alt="" class="platforms-mobile-show"></a></li>
               </ul>
               <div class="shem"></div>
            </div>
         </div>
         <div class="footer-top-block wid-10">
            <div class="platform">
               <p class="strong">Pro Terminal</p>
               <div><a href="#" class="windows"><img src="img/windows-menu.svg" alt="" class="platforms-mobile-hide"><img src="img/windows-menu_mob.svg" alt="" class="platforms-mobile-show"></a></div>
            </div>
            <div class="platform">
               <p class="strong">Web Terminal</p>
               <div><a href="#" class="app-store"><img src="img/web-menu.svg" alt="" class="platforms-mobile-hide"><img src="img/web-menu_mob.svg" alt="" class="platforms-mobile-show"></a></div>
            </div>
         </div>
      </div>
      <div class="footer-bottom">
         <div class="footer-bottom-right">
            <ul>
               <li><a href="" class="fb"></a></li>
               <li><a href="" class="inst"></a></li>
               <li><a href="" class="youtube"></a></li>
            </ul>
            <p class="text">Tradelize © 2020. All right reserved</p>
         </div>
         <div class="footer-bottom-left">
            <a href="" class="footer-text">Privacy Policy</a>
            <a href="" class="footer-text">Cookies Policy</a>
            <a href="" class="footer-text">Terms and Conditions</a>
         </div>
      </div>

   </footer>
</div>

</div>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="js/bundle.js"></script>


<script>
   $(document).ready(function() {
      if ($(window).width() < 1000) {
         $(".slider-mobile").addClass("mobile");
      } else {
         $(".slider-mobile").removeClass("mobile");
      }

      $(window).resize(function () {
         if ($(window).width() > 1000) {
            if ($(".slider-mobile").hasClass("mobile")) {
               $(".slider-mobile").removeClass("mobile");
               location.reload();
            }
         } else {
            if (!$(".slider-mobile").hasClass("mobile")) {
               $(".slider-mobile").addClass("mobile");
               location.reload();
            }
         }
      });
   });

</script>

</body>

</html>
