// Font
$font-main: "Gilroy", sans-serif;

// Colors
$color-bright: #0057FF;
$color-light: #F1F6FF;
$color-lighter: #E1EAFA;
$color-muted: #687B9E;
$color-gray: #8499B1;
$color-dark: #2C3952;
$color-pure: #FFFFFF;
$color-secondary: #F1F6FF;
$color-flow: #F4F6F9;
$color-line: #D4DCEF;